<meta name="theme-color" content="currentcolor">


 {#if loading}
<Loader height="100vh" width="100vw" position="fixed" bgcolor="rgba(255, 255, 255, 0.7)" /> {/if}

<Panel desc='summary panel'>
  <!-- <a id="logo-link" href="/"> -->

  <div slot='head'>
	<img class="logo" style='width:50%' src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics logo - Homepage">
	<!-- </a> -->
    <h1 >2011 Census Atlas Demo</h1>
    <!-- <h1 style='border-bottom: 1px solid rgb(100, 120, 140);'/> -->
</div>
    {#if indicators && $selectItem}

    {#if $selectData}

    <PanelSection  key='chart'>
    <ColChart data={$selectData.lsoa.data} dataIndex={$selectData.lsoa.index} breaks={$selectData.lsoa.breaks} avg={$selectData.ew.data} selected={$lsoa.hovered ? $lsoa.hovered : $lsoa.selected} parent={$lad.hovered ? $selectData.lad.index[$lad.hovered].median.code
        : $lad.highlighted ? $selectData.lad.index[$lad.highlighted].median.code : $lad.selected ? $selectData.lad.index[$lad.selected].median.code : null} siblings={$lad.selected ? $lad_dta.get($lad.selected).children : null}
        key="perc" />

        </PanelSection>
    {/if}

    <PanelSection  key='infobox'>
    <div id="infobox">
        {selectMeta.table.name}
        <small>({selectMeta.table.code})</small><br />
        <strong class="text-med">{$selectItem.name}</strong>
        <div class="grid">
            {#if $selectData}
            <div>
                <hr style="border-top-color: #871A5B" />
                <strong>England & Wales</strong><br />
                <strong class="text-lrg">{$selectData.ew.data.perc.toFixed(1)}%</strong><br />
                <small>{$selectData.ew.data.value.toLocaleString()}
							of
							{$selectData.ew.data.count.toLocaleString()}
							{$selectItem.unit.toLowerCase()}s</small>
            </div>
            {#if $lad.hovered || $lad.highlighted || $lad.selected}
            <div>
                <hr style="border-top-color: #27A0CC" />
                <strong>{$lad.hovered ? $lad_dta.get($lad.hovered).name : $lad.highlighted ? $lad_dta.get($lad.highlighted).name : $lad_dta.get($lad.selected).name}</strong><br />
                <strong class="text-lrg">
								{#if $lad.selected}<img src="./icons/chevron-left.svg" class="next" on:click={() => getSib('lad', -1)}>{/if}
								{$lad.hovered ? $selectData.lad.index[$lad.hovered].perc.toFixed(1) : $lad.highlighted ? $selectData.lad.index[$lad.highlighted].perc.toFixed(1) : $selectData.lad.index[$lad.selected].perc.toFixed(1)}%
								{#if $lad.selected}<img src="./icons/chevron-right.svg" class="next" on:click={() => getSib('lad', 1)}>{/if}
							</strong><br />
                <small>{$lad.hovered ? $selectData.lad.index[$lad.hovered].value.toLocaleString() : $lad.highlighted ? $selectData.lad.index[$lad.highlighted].value.toLocaleString() : $selectData.lad.index[$lad.selected].value.toLocaleString()}
								of
								{$lad.hovered ? $selectData.lad.index[$lad.hovered].count.toLocaleString() : $lad.highlighted ? $selectData.lad.index[$lad.highlighted].count.toLocaleString() : $selectData.lad.index[$lad.selected].count.toLocaleString()}
								{$selectItem.unit.toLowerCase()}s</small>
            </div>
            {:else}
            <div /> {/if} {#if $lsoa.hovered || $lsoa.selected}
            <div>
                <hr style="border-top-color: #000000" />
                <strong>{$lsoa.hovered ? lsoalookup[$lsoa.hovered].name.slice(-4) : lsoalookup[$lsoa.selected].name.slice(-4)}</strong><br />
                <strong class="text-lrg">
								{#if $lsoa.selected}<img src="./icons/chevron-left.svg" class="next" on:click={() => getSib('lsoa', -1)}>{/if}
								{$lsoa.hovered ? $selectData.lsoa.index[$lsoa.hovered].perc.toFixed(1) : $selectData.lsoa.index[$lsoa.selected].perc.toFixed(1)}%
								{#if $lsoa.selected}<img src="./icons/chevron-right.svg" class="next" on:click={() => getSib('lsoa', 1)}>{/if}
							</strong><br />
                <small>{$lsoa.hovered ? $selectData.lsoa.index[$lsoa.hovered].value.toLocaleString() : $selectData.lsoa.index[$lsoa.selected].value.toLocaleString()}
								of
								{$lsoa.hovered ? $selectData.lsoa.index[$lsoa.hovered].count.toLocaleString() : $selectData.lsoa.index[$lsoa.selected].count.toLocaleString()}
								{selectItem.unit.toLowerCase()}s</small>
            </div>
            {:else}
            <div /> {/if} {/if}
        </div>
    </div>
    </PanelSection>





	{/if}
</Panel>

<Panel id='options_panel' side='right' desc='selection panel'>
<div slot='head'>
  <h2> Data Portal </h2>

</div>

      {#if $lad_dta}

      <PanelSection  key='area' bind:selected={$lad.name}>

  <!-- wrapper html to shrink select -->
        <Select options={[...$lad_dta.values()]} bind:name={$lad.name} bind:selected={$lad.selected} search={true} placeholder="Find a district..."  on:select={()=> $lsoa.selected = null} >
          <Geolocate width='30px' />

          </Select>


      </PanelSection>
  		{/if}



  <PanelSection  key='data'>

          <!-- <Group
  			props={{ name: '2011 Census Tables', children: indicators, menu:0 }}
  			bind:selected={selectItem}
  			expanded /> -->

          <Indicate2L />

  </PanelSection>
</Panel>




{#if showmap}

{#if mapLocation}
<MapComponent bind:zoom={$mapZoom} >
<!-- maplocation remove> -->

	{#if $selectData }
	<MapSource
			id="lsoa"
			type="vector"
			url={lsoabldg.url}
			layer={lsoabldg.layer}
			promoteId={lsoabldg.code}
			maxzoom={13}>
			<MapLayer
				id="lsoa"
				source="lsoa"
				sourceLayer={lsoabldg.layer}
				data={$selectData}
				type="fill"
				paint={{
					'fill-color': ['case',
						['!=', ['feature-state', 'color'], null], ['feature-state', 'color'],
						'rgba(255, 255, 255, 0)'
					]
				}}
				order="tunnel_motorway_casing" />
		</MapSource>
		<MapSource
			id="lsoa-bounds"
			type="vector"
			url={lsoabounds.url}
			layer={lsoabounds.layer}
			promoteId={lsoabounds.code}
			minzoom={9}
			maxzoom={12}>
			<MapLayer
				id="lsoa-fill"
				source="lsoa-bounds"
				sourceLayer={lsoabounds.layer}
				type="fill"
				paint={{ 'fill-color': 'rgba(255, 255, 255, 0)' }}
				hover={true}
				bind:hovered={$lsoa.hovered}
				click={true}
				clickCenter={true}
				bind:selected={$lsoa.selected} />
			<MapLayer
				id="lsoa-bounds"
				source="lsoa-bounds"
				sourceLayer={lsoabounds.layer}
				type="line"
				paint={{
					'line-color': ['case',
						['==', ['feature-state', 'selected'], true], 'rgba(0, 0, 0, 1)',
						['==', ['feature-state', 'hovered'], true], 'rgba(0, 0, 0, 1)',
						'rgba(0, 0, 0, 0)'
					],
					'line-width': ['case',
						['==', ['feature-state', 'selected'], true], 2,
						['==', ['feature-state', 'hovered'], true], 2,
						0
					]
				}} />
		</MapSource>
	{/if}
	{#if $lad_dta}
		<MapSource
			id="lad"
			type="vector"
			url={ladvector.url}
			layer={ladvector.layer}
			promoteId={ladvector.code}>
			<MapLayer
				id="lad"
				source="lad"
				sourceLayer={ladvector.layer}
				type="line"
				highlight={true}
				highlighted={$lad.highlighted}
				filter={[
					"all",
					["==", "lower", "true"],
					["in", "country", "E", "W"]
				]}
				paint={{
					'line-color': ['case',
						['==', ['feature-state', 'selected'], true], '#27A0CC',
						['==', ['feature-state', 'hovered'], true], '#27A0CC',
						['==', ['feature-state', 'highlighted'], true], '#27A0CC',
						'rgba(192, 192, 192, 1)'
					],
					'line-width': ['case',
						['==', ['feature-state', 'selected'], true], 2,
						['==', ['feature-state', 'hovered'], true], 2,
						['==', ['feature-state', 'highlighted'], true], 2,
						0.75
					]
				}}
				order="place_other" />
			<MapLayer
				id="lad-fill"
				source="lad"
				sourceLayer={ladvector.layer}
				type="fill"
				filter={[
					"all",
					["==", "lower", "true"],
					["in", "country", "E", "W"]
				]}
				paint={{ 'fill-color': 'rgba(255, 255, 255, 0)' }}
				hover={true}
				bind:hovered={$lad.hovered}
				click={true}
				bind:selected={$lad.selected}
				maxzoom={8.99}
				on:select={() => $lsoa.selected = null} />
		</MapSource>
	{/if}
	
</MapComponent>
{/if}

{/if}
