button{
  outline: none;
  background-color: transparent;
  border: none;
  color: #222;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
path{
  fill:#222;
  stroke:#222;
}

path:hover{
  fill:steelblue;
  stroke:steelblue;
}
