<div class="container">
    <span class="choose">{props.name}</span>

    <br>

    <div class="dropdown {expanded[props.menu] ? 'active': ''}">
        <div class="select" on:click='{toggle(props)}'>
            <span>{prp?prp.name:props.children[props.menu].name}</span>
            <i class="fa fa-chevron-left"></i>
        </div>
        <ul class="dropdown-menu  {expanded[props.menu] ? 'active': ''}">

            {#each props.children as child}
            <li id="{child.name}" children={child.children} on:click='{select(props.name,child.children,props.menu,child.name)}'>{child.name}</li>
            {/each}
        </ul>
    </div>

    <!-- secondary menue  -->
    {#if prp}
    <p> a {prp.name}</p>
    <svelte:self props={prp} bind:selected={selected}/> {/if} {#if props.type == 'group-radio'}
    <span class:expanded on:click={toggle} style="padding-left: 2.3em">
	<input type="radio" bind:group={selected} value={props} on:click={radioClick} />
	{props.name}
</span> {:else}
    <span on:click={toggle}>
	<span class='expanded'>'\e875'</span>{props.name}
    </span>
    {/if} {#if props.code && props.type != 'group-radio'}<small>({props.code})</small>{/if} {#if expanded}
    <ul>
        {#each props.children as child}
        <li>
            {#if child.type === 'group' || child.type === 'group-radio'}
            <svelte:self props={child} bind:selected={selected}/> {:else}
            <Radio props={child} bind:selected={selected}/> {/if}
        </li>
        {/each}
    </ul>
    {/if}


</div>