<Accordion>
	<!--
	{ #each items as item }
	 -->
	<AccordionItem key={item.key} bind:active={item.active}>

		<div slot='header' class='header'>

			<span class='name' data-tooltip={ item.text || false }>{item.key} </span>

			{#if selected}
			<h4 class='title'>{selected} </h4>
			{:else}
			<h4 class='title'>{item.title} </h4>

			{/if}
			<div class='icon'>{item.active?'^':'>'} </div>

		</div>

		<p slot='body' class='body'>

			<slot>
				Content Pending.
			</slot>
		</p>

	</AccordionItem>

	<!-- { /each } -->

</Accordion>